/*영어 폰트 ; font-family: 'Itim', cursive;*/
/*나눔고딕 ; font-family: 'NanumSquare', sans-serif;*/
/*본문 영어 ; font-family: 'Alegreya Sans SC', sans-serif;*/
body{
    background:#fdf8f8;
}
/*nav*/
header nav ul li:first-child a{
    color:#2677e0;
}
header nav ul li:first-child a::after{
    width: 100%;
    background:#2677e0;
}

/*common*/
.aboutWrap .detail h3,
.missionWrap .mission-ex h3,
.greetingWrap h1{
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-family: 'NanumSquare', sans-serif;
    margin:10px 0;
}
.explain{
    font-family: 'NanumSquare', sans-serif;
    margin-top:50px;
    line-height: 25px;
    font-size: 1.1rem;
}
.subtitle{
    font-weight: 600;
    letter-spacing: 1px;
    margin-left:5vw;
}

/*layout*/
#about-page{
    width: 100%;
    height: 100%;
    padding-bottom:120px;
}
#about-page .aboutWrap{
    max-width: 60%;
    margin:0 auto;
}
#mission-page{
    width: 100%;
    height: 40vh;
    padding-bottom:50px;
}
#mission-page .missionWrap{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
#greeting-page{
    width: 100%;
    height: 100%;
    padding-bottom:50px;
}
#greeting-page .greetingWrap{
    max-width: 50%;
    margin:0 auto;
}

/*about*/
.aboutWrap{
    padding-top:120px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color:#3C3F41;
}
.aboutWrap .detail{
    width: 45%;
    margin-top:50px;
}
.aboutWrap .detail-pic{
    width: 52%;
    margin-top:50px;
}
.aboutWrap .detail h1 img{
    width: 180px;
    display: block;
    margin:30px 0 10px;
}
.aboutWrap .detail h1::after{
    display: block;
    content:"";
    width: 35px;
    height: 5px;
    background:#2677e0;
    margin:20px 15% 20px;
}
.aboutWrap .detail h3{
    text-align: center;
    font-weight: bold;
}
.aboutWrap .detail h3>span{
    color:#2677e0;
    font-size: 2.7rem;
    font-weight: bolder;
}
.aboutWrap .detail .subject{
    color:#bbb;
    font-size: 1.1rem;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'NanumSquare', sans-serif;
}

.aboutWrap .detail-pic{
    background:url(../img/about-img.png) no-repeat;
    -webkit-background-size: cover;
    background-size: contain;
    background-position: center 50%;
}

/*mission*/
#mission-page .missionWrap .mission-pic{
    width: 25vw;
    height: 100%;
    background:url(../img/mission-img.png) no-repeat;
    background-size:100% 100%;
    background-position: top;
}
#mission-page .missionWrap .mission-ex{
    width: 75vw;
    background:#eeeeee;
    font-family: 'NanumSquare', sans-serif;
}
.missionWrap .mission-ex .subtitle{
    font-size: 2rem;
}
.missionWrap .mission-ex h3{
    margin-left:5vw;
    margin-top:4vw;
    font-weight: bolder;
}
.missionWrap .mission-ex h3::after{
    display: block;
    content:"";
    width: 155px;
    height: 4px;
    background:#2677e0;
    margin:15px 0.1vw 30px;
}
.missionWrap .mission-ex .explain{
    margin-left:5vw;
}
/*ceo*/
.greetingWrap h1{
    text-align: center;
    font-weight: bolder;
    margin:50px 0;
}
.greetingWrap>img{
    width: 100%;
}
.greetingWrap .subtitle{
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
    margin-top: 80px;
}
.greetingWrap .sign,
.greetingWrap .explain{
    text-align: center;
}
.greetingWrap .explain{
    line-height: 30px;
}
.greetingWrap .sign{
    font-weight: 600;
    font-size:1.3rem;
    margin-top:50px;
}
.greetingWrap .sign>img{
    vertical-align:middle;
}
/*footer*/
footer{
    width: 100%;
    margin-top:150px;
    padding:3% 0;
    background:url(../img/footer-img.jpg) no-repeat;
    background-position: 100% 100%;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    position: relative;
}
footer p{
    font-family: 'NanumSquare', sans-serif;
    color:#dcdcdc;
    line-height: 25px;
}
/*js css*/
.hide,
.hide-title{
    opacity: 0;}