/*영어 폰트 ; font-family: 'Itim', cursive;*/
/*나눔고딕 ; font-family: 'NanumSquare', sans-serif;*/
/*본문 영어 ; font-family: 'Alegreya Sans SC', sans-serif;*/
body{
    background:#fdf8f8;
}
/*nav*/
header nav ul li:nth-child(2) a{
    color:#2677e0;
}
header nav ul li:nth-child(2) a::after{
    width: 100%;
    background:#2677e0;
}

/*common*/
.step-icon{
    z-index: 10;
    width: 120px;
    height: 120px;
    background:#000;
    position: absolute;
    top:-60px;
    left:50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    color:#fff;
    text-align: center;
    line-height: 110px;
    font-size: 1.5rem;
    font-family: 'Alegreya Sans SC', sans-serif;
    letter-spacing: 1px;
}
.step-icon span{
    font-size:3rem;
    font-weight: bolder;
}
.planWrap div h3{
    font-size: 1.8rem;
    font-weight: 600;
    margin-top:10%;
    margin-bottom:14px;
    margin-left:10vw;
}
.planWrap div h3>span{
    color:#2677e0;
}
.planWrap div  p{
    font-size: 1.1rem;
    font-family: 'NanumSquare', sans-serif;
    letter-spacing: 1px;
    line-height: 25px;
    margin-left:10vw;
}
.list>li>a{
    font-family: 'NanumSquare', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.list>li>a::before{
    display: inline-block;
    content:"";
    width: 10px;
    height: 4px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    vertical-align: middle;
    background:#2677e0;
}
.list>li>a:hover{
    font-weight: 600;
    color:#2677e0;
}

/*layout*/
#allstep-page{
    width: 100%;
    height: 100%;
}
#allstep-page .allWrap{
    width:100%;
    padding-top:94px;
}
#allstep-page .allWrap ul{
    max-width:70%;
    padding:0 30px;
    background:#f2f1f1;
    margin:20px auto;
    display: flex;
    justify-content: space-between;
}
.allWrap ul li{
    width: 24%;
    padding:40px 0;
}
#plan-page{
    width: 100%;
    height: 40vh;
    z-index:1;
    position: relative;
    margin-bottom:100px;
}
#plan-page::after{
    display: block;
    width: 30px;
    height: 30px;
    content:"";
    transform: rotate(45deg);
    position: absolute;
    left:49%;
    bottom:-10px;
}
#plan-page .planWrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
#plan-page .planWrap .left,
#plan-page .planWrap .right{
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 2;
}

/*all Step*/
.allWrap h1{
    font-weight: bolder;
    font-size: 2.3rem;
    letter-spacing: 1px;
    text-align: center;
    margin-top:100px;
}
.allWrap h2{
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
    margin:100px 0 150px;
}
.allWrap ul li a{
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 1.15rem;
    white-space: inherit;
    position: relative;
}
.allWrap ul li a::before{
    display: inline-block;
    content:"";
    width: 15px;
    height: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background:#2677e0;
    vertical-align: middle;
    margin-right: 5px;
}
.allWrap ul li a::after{
    display:inline-block;
    content:"";
    width: 3px;
    height: 3px;
    border-top:1px solid #fff;
    border-right:1px solid #fff;
    position: absolute;
    top:9px;
    left:5.5px;
    transform:rotate(45deg);
}
.allWrap ul li a:hover{
    -webkit-transition:  all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition:  all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color:#2677e0;
}
.allWrap ul li a span{
    display: inline-block;
    font-weight: normal;
    font-family: 'NanumSquare', sans-serif;
    font-size: 0.95rem;
    margin-left:1vw;
    margin-top:10px;
    letter-spacing: 1px;
}

/*plan page*/
/*step01*/
.step01 .planWrap .left{
    background:url(../img/business01.jpg);
    background-position: center;
    background-size:100% 150%;
    z-index: 1;
}
.step01::after{
    background:#dac045;
}
.step01 .planWrap .right{
    background:#dac045;
}

.planWrap .right ul{
    margin-left:10vw;
    margin-top:15px;
}
.planWrap .right ul li a{
    line-height: 35px;
}
.planWrap .right ul li a::before{
    background:#2677e0;
}
/*step02*/
.step02 .planWrap .left{
    background:url(../img/business02.jpg);
    background-size:200%;
    background-color:#cbafb4;
    position: relative;
}
.step02 .planWrap .left::after{
    display: inline-block;
    content:"";
    border-style: solid;
    border-color:transparent;
    border-width: 11px 14px 11px 14px;
    border-top-color: #cbafb4;
    border-right-color:#cbafb4;
    position: absolute;
    bottom:-20px;
    right:0;
}
.step02 .planWrap .sametime{
    font-size: 0.9rem;
    font-family: 'NanumSquare', sans-serif;
    letter-spacing: 1px;
    padding:15px 35px;
    display: block;
    background:rgba(255,255,255,0.7);
    position: absolute;
    top:5vw;
    left:50%;
    transform:translateX(-50%);
    z-index: 999;
}
.step02 .planWrap .right{
    background:url(../img/business03.jpg);
    background-position: top right;
    background-color:#9abed4;
    position: relative;
    z-index: 1;
}
.step02 .planWrap .right::after{
    display: inline-block;
    content:"";
    border-style: solid;
    border-color:transparent;
    border-width: 11px 14px 11px 14px;
    border-top-color: #9abed4;
    border-left-color:#9abed4;
    position: absolute;
    bottom:-20px;
    left:0;
}
.step02 .planWrap .left h3{
    margin-top:10%;
    margin-left:15vw;
}
.step02 .planWrap .left p{
    margin-left:15vw;
}
.step02 .planWrap .left ul{
    margin-left:15vw;
    margin-top:15px;
}
.planWrap .left ul li a{
    line-height: 35px;
}
/*step03*/
.step03::after{
    background:#d8d8d8;
}
.step03 .planWrap .left h3,
.step03 .planWrap .left p,
.step03 .planWrap .left ul{
    margin-left:15vw
}
.step03 .planWrap .left ul{
    margin-top: 15px;
}
.step03 .planWrap .left{
    background:#d8d8d8;
}
.step03 .planWrap .right{
    background:url(../img/business04.jpg);
    background-position: bottom right;
    background-color:#d8d8d8;
}
/*complete*/
.complete{
    max-width: 20%;
    padding:30px 10px;
    margin:0 auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
}
.complete img{
    margin-bottom:20px;
}
.complete p{
    font-family: 'NanumSquare', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: line-through;
}
/*footer*/
footer{
    margin-top:50px;
    width: 100%;
    padding:3% 0;
    background:url(../img/footer-img.jpg) no-repeat;
    background-position: 100% 100%;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    position: relative;
}
footer p{
    font-family: 'NanumSquare', sans-serif;
    color:#dcdcdc;
    line-height: 25px;
}
/*js css*/
.hide{
    opacity: 0;}