/*영어 폰트 ; font-family: 'Itim', cursive;*/
/*나눔고딕 ; font-family: 'NanumSquare', sans-serif;*/
/*본문 영어 ; font-family: 'Alegreya Sans SC', sans-serif;*/
body{
    background:#fdf8f8;
}
/*nav*/
header nav ul li:nth-child(4) a{
    color:#2677e0;
}
header nav ul li:nth-child(4) a::after{
    width: 100%;
    background:#2677e0;
}

/*common*/
.clearfix{
    display: table;
    content: "";
    clear:both;
}

/*SVG D3*/
svg {
    color:#000;
    width: 100%;
    height: 360px;
    margin-top:30px;
    padding:0 10px;
    background:#f4f2f0;
}
/*.bar { fill : #f99 }*/

.bar:first-child{
    fill:#9FA0A0;
}
.bar:nth-child(2){
    fill:#72A2B4;
}
.bar:nth-child(3){
    fill:#EDCE64;
}
.bar:nth-child(4){
    fill:#EA5442
}
.barNum {
    font-size:12px;
    text-anchor : middle;
}
.axis text {
    font-size: 11px;
    text-anchor : middle;
}
.axis path,
.axis line {
    fill:none;
    stroke: #000;
    text-anchor: middle;
}
.axis_x line {
    fill: none;
    stroke: #000;
}
.barName {
    font-size: 12px;
    text-anchor : middle;
}
/*layout*/
#ir-page{
    width: 100%;
    height: 100%;
}
#ir-page .irWrap{
    max-width: 60%;
    margin:0 auto;
    padding-top:130px;
}
#ir-page .irWrap .ir-graph{
    max-width: 75%;
    margin:0 auto;
    padding:35px 25px;
    background:#ffff;
}
#ir-page .irWrap ul{
    width: 100%;
    display: flex;
}
#ir-page .irWrap .ir-menu{
    margin:30px 0;
}
#ir-page .irWrap .ir-menu li{
    width: 33.333%;
}
#ir-page .irWrap .comment{
    justify-content: flex-end;
}
.graph{
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}
.graph>div{
    width:42%;
}
#ir-page .irWrap .stock{
    width: 60%;
    margin:40px auto 10px;
    background:#f8f;
}
#ir-page .irWrap .stock>li{
    width: 50%;
}

/*ir page*/
.irWrap h2{
    font-family:'NanumSquare', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align:center;
    margin-top:100px;
}
.irWrap h2::after{
    display: block;
    width: 60px;
    height: 5px;
    background:#2677e0;
    content:"";
    margin:30px auto 50px;
}
#ir-page .irWrap .ir-menu li{
    border:1px solid #2677e0;
}
#ir-page .irWrap .ir-menu li:first-child,
#ir-page .irWrap .ir-menu li:nth-child(2){
    border-right:none;
}
#ir-page .irWrap .ir-menu li a{
    display: block;
    width: 100%;
    padding:25px 0;
    text-align: center;
    font-family: 'NanumSquare', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color:#2677e0;
}
/*hover*/
#ir-page .irWrap .ir-menu li:first-child a{
    background:#2677e0;
    color:#fff;
}
#ir-page .irWrap .comment li{
    padding:5px;
}
#ir-page .irWrap .comment li::before{
    content:"";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right:5px;
    vertical-align: middle;
}
#ir-page .irWrap .comment li:first-child::before{
    background: #9FA0A0;
}
#ir-page .irWrap .comment li:nth-child(2)::before{
    background: #72A2B4;
}
#ir-page .irWrap .comment li:nth-child(3)::before{
    background: #EDCE64;
}
#ir-page .irWrap .comment li:last-child::before{
    background: #EA5442;
}
.irWrap .ir-graph h4{
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    margin:40px 0 30px;
}
.graph>div .date{
    float: left;
    font-size: 1rem;
    font-weight: 600;
    color:#3c3c3c
}
.graph>div .won{
    float: right;
    font-size: 0.8rem;
    color:#3c3c3c;
}
/*주식*/
