header{
    width: 100%;
    padding:20px 12px;
    position:fixed;
    top:0;
    left:0;
    background:#fff;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    z-index:9999;
}
header nav{
    display: flex;
    justify-content: space-between;
    max-width:1200px;
    margin:0 auto;
}
header nav a>h1{
    display:inline-block;
    width: 181px;
    height:46px;
    line-height: 46px;
    font-size: 0;
    background:url(../img/logo-hero.svg) no-repeat;
}
header nav ul{
    height: inherit;
    display: flex;
    align-items: center;
}
header nav ul li a{
    display: inline-block;
    margin:17px 20px;
    color:#000;
    font-size: 1.3rem;;
    font-family: 'Itim', cursive;
    position: relative;
}
header nav ul li a::after{
    display: block;
    content: "";
    width: 0%;
    height: 3px;
    background: #000;
    position: absolute;
    bottom:-10px;
    transition: width 0.3s ease 0s;
    -webkit-transition: width 0.3s ease 0s;
    -moz-transition: width 0.3s ease 0s;
    -o-transition: width 0.3s ease 0s;
}
header nav ul li a:hover::after{
    width:100%;
}
/*nav end*/