/*영어 폰트 ; font-family: 'Itim', cursive;*/
/*나눔고딕 ; font-family: 'NanumSquare', sans-serif;*/
/*본문 영어 ; font-family: 'Alegreya Sans SC', sans-serif;*/
body{
    background:#fdf8f8;
}
/*nav*/
header nav ul li:last-child a{
    color:#2677e0;
}
header nav ul li:last-child a::after{
    width: 100%;
    background:#2677e0;
}

/*layout*/
#hire-page{
    width:100%;
    height: 100%;
    padding-bottom:50px;
}
#hire-page .hireWrap{
    max-width: 60%;
    margin:0 auto;
}
#hire-page .hireWrap .director{
    width: 60%;
    margin:50px auto 30px;
    padding:10px;
    border:solid 1px #ddd;
}
#job-page{
    width:100%;
    background:#eeeeee;
    padding-bottom:70px;
}
#job-page .jobWrap{
    width: 45%;
    margin:0 auto;
}
#job-page .jobWrap>div{
    width: 100%;
    background:#f8f;
}
#step-page,
#welfare-page{
    width: 100%;
    height: 100%;
}
#step-page .stepWrap,
#welfare-page .welfare{
    width: 45%;
    margin:0 auto;
    padding-bottom:50px;
}

/*hire*/
.hireWrap h3,
.hireWrap .subtitle{
    font-family: 'NanumSquare', sans-serif;
    letter-spacing: 1px;
    text-align:center;
}
.hireWrap p:first-child{
    padding-top:94px;
    margin-top:80px;
}
.hireWrap .subtitle{
    color:#bbb;
    font-size: 1.2rem;
}
.hireWrap h3{
    font-size: 3rem;
    font-weight: bold;
    margin:10px 0;
}
.hireWrap h3>span{
    color:#2677e0;;
    font-weight: bolder;
}
.hireWrap h4{
    font-size: 1.5rem;
    font-family: 'NanumSquare', sans-serif;
    letter-spacing: 1px;
    color:#4c4c4c;
    text-align: center;
}
.hireWrap h4>span{
    color:#2677e0;
    font-weight: bold;
}
/*모집직종*/
/*common*/
.common h4{
    padding:70px 0 20px;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.jobWrap>div{
    border:2px solid #e0e0e0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.common>div .notice{
    background:#e0e0e0;
    display: block;
    padding:10px 15px;
    font-weight: bold;
    font-size: 1.1rem;
}
.jobWrap>div ul{
    width: 100%;
    display: flex;
    background: #fff;
    padding:30px 0;
}
.common>div ul li{
    padding:10px;
    text-align: center;
}
.jobWrap>div ul li{
    border-right: 1px solid #e0e0e0;
    width: 25%;
}
.jobWrap>div ul li:last-child{
    border-right:none;
}
.common>div ul li>img{
    width: 60px;
}
.common>div ul li>p{
    font-size: 1.2rem;
    font-weight: 600;
    line-height:30px;
    letter-spacing: 1px;
}
.common>div ul li>a{
    display: inline-block;
    padding:10px 15px;
    background:#2677e0;
    color:#fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top:15px;
    font-size: 0.9rem;
    font-family: 'NanumSquare', sans-serif;
    letter-spacing: 1px;
}
.common>div ul li>a:hover{
    background:#0052bc;
}
/*step page*/
.stepWrap>div ul{
    width: 80%;
    margin:0 auto;
    display: flex;
    padding:30px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.stepWrap>div ul li:first-child,
.stepWrap>div ul li:nth-child(3),
.stepWrap>div ul li:last-child{
    width: 30%;
    border:2px solid #e0e0e0;
    line-height: 5vh;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'NanumSquare', sans-serif;
}
.stepWrap>div ul li:nth-child(2)>img,
.stepWrap>div ul li:nth-child(4)>img{
    width: 16px;
}
.stepWrap>div .reply{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'NanumSquare', sans-serif;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom:30px;
}
.stepWrap>div .reply>span{
    color:#0052bc;
    font-weight: 600;
}
.stepWrap>div .comment{
    text-indent:4vw;
    font-size: 0.8rem;
    color:#ccc;
}
/*복리후생*/
.welfare{
    height: 100%;
}
.welfare h4{
    padding-top:70px;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.welfare>p{
    font-size: 0.9rem;
    line-height: 35px;
}
.welfare .firstline{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    border:1px solid #e0e0e0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top:30px;
}
.welfare .secondline{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
}
.welfare .firstline li,
.welfare .secondline li{
    width:33.333%;
    border-right:1px solid #e0e0e0;
    padding:30px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;

}
.welfare .secondline li{
    border-bottom:1px solid #e0e0e0;
}
.welfare .firstline li:last-child,
.welfare .secondline li:nth-child(3),
.welfare .secondline li:last-child{
    border-right: none;
}
.welfare .firstline li>img,
.welfare .secondline li>img{
    vertical-align: middle;
}
.welfare .firstline li>span,
.welfare .secondline li>span{
    font-size: 1.1rem;
    font-weight: 600;
}
.welfare .firstline li>p,
.welfare .secondline li>p{
    margin-top:15px;
    font-size: 0.9rem;
    font-family: 'NanumSquare', sans-serif;
    letter-spacing: 1px;
    line-height: 23px;
}
/*더 보기 / 닫기*/
.common-btn{
    width: 100%;
    background:#f3f3f3;
    border:1px solid #e0e0e0;
    text-align: center;
    display:block;
    padding:20px 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 1.1rem;
    letter-spacing: 1px;
    cursor: pointer;
}
.addshow{
    display: none;
}
/*footer*/
footer{
    width: 100%;
    margin-top:150px;
    padding:3% 0;
    background:url(../img/footer-img.jpg) no-repeat;
    background-position: 100% 100%;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    position: relative;
}
footer p{
    font-family: 'NanumSquare', sans-serif;
    color:#dcdcdc;
    line-height: 25px;
}